# Ignorera allt i html
html/*

# Tillåt wp-content-mappen och dess föräldrar
!html/wp-content/
!html/wp-content/plugins/
!html/wp-content/themes/

# Tillåt alla filer i plugins och themes (submodules)
!html/wp-content/plugins/**
!html/wp-content/themes/**

# Ignorera cache i wp-content
html/wp-content/cache/

# Övrigt
.DS_Store
.vscode/
.idea/
